<h1><i class="fa fa-id-card"></i> Alugar</h1>
<hr>
<br>
<div>
    <div class="row">
        <div class="col-md-6">
            <h5>Jogo:</h5>
            <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o jogo" required>
        </div>
        <div class="col-md-6">
            <h5>Cliente:</h5>
            <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o cliente" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <h5>Data inicial:</h5>
            <input type="date" class="form-control" ng-model="aluno.nombre" placeholder="yyyy-MM-dd" required>
        </div>
        <div class="col-md-6">
            <h5>Data de devolução:</h5>
            <input type="date" class="form-control" ng-model="aluno.nombre" placeholder="yyyy-MM-dd" required>
        </div>
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
    <br>
</div>