<h1><i class="fa fa-user"></i> Cliente</h1>
<hr>
<br>
<div>
    <form ng-submit="cadastrar()">
        <div class="row">
            <div class="col-md-6">
                <h3><i class="fa fa-user-circle"></i> Dados Pessoais</h3>
                <hr>
            </div>
            <div class="col-md-6">
                <h3><i class="fa fa-home"></i> Endereço</h3>
                <hr>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5>Nome:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o nome" required>
            </div>
            <div class="col-md-6">
                <h5>Rua:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite a rua" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h5>E-mail:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o e-mail" required>
            </div>
            <div class="col-md-6">
                <h5>Cidade:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite a cidade" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <h5>Celular:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o celular" required>
            </div>
            <div class="col-md-3">
                <h5>CPF:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o cpf" required>
            </div>
            <div class="col-md-6">
                <h5>Completo:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o complemento" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-3">
                <h5>CEP:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o cep" required>
            </div>
            <div class="col-md-3">
                <h5>Estado:</h5>
                <input type="text" class="form-control" ng-model="aluno.nombre" placeholder="Digite o estado" required>
            </div>
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
        <br>
    </form>
</div>